@import "tailwindcss";



body {
    background-color: #f7f8f8;
    /* Un gris claro como en tus imágenes */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
}

html {
    background-color: #f7f8f8;
    /* Un gris claro como en tus imágenes */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100%;
    min-width: 100%;
}

#root {
    width: 100% !important;
    height: 100% !important;
}